 compiler settings and other important
# information for Eclipse / Flash Builder.
E-/commence./
Big-compilation/line-commence icy. Brand builder.
 Talk beauty |line,
Endless programming"(,cc's-line first.
2.line
3.Michael maindal jensen /**** Start of imports. If edited, may not auto-convert in the playground. ****/
var srtm = ee.Image("USGS/SRTMGL1_003"),
    visParams = {"opacity":1,"bands":["elevation"],"min":0,"max":2300,"palette":["0000ff","008000","ffff00","ffa500","ff0000"]};
/***** End of imports. If edited, may not auto-convert in the playground. *****/
Map.addLayer(srtm, visParams, 'Elevation');
var label = new ui.Label('Click for elevation');
var inspector = new ui.Panel([label]);
Map.add(inspector);
function inspect(coords) {
  var point = ee.Geometry.Point(coords.lon, coords.lat);
  var elevation = srtm.sampleRegions(point).first().get('elevation');
  showElevation(elevation);
}
Map.onClick(inspect);
function showElevation(elevation) {
  print('Elevation: ', elevation);
}Aslams gravalvorlig pul hus
Drinken sailor
