 compiler settings and other important
# information for Eclipse / Flash Builder.
E-/commence./
Big-compilation/line-commence icy. Brand builder.
 Talk beauty |line,
Endless programming"(,cc's-line first.
2.line
3.Michael maindal jensen 
